<header class="bg-inherit shadow-sm px-8 z-50">
  <nav class="p-4 w-full">
    <div
      class="hidden lg:flex lg:items-center lg:text-xl font-medium uppercase"
    >
      <div class="w-20">
        <img
          class="w-full"
          src="../../../../assets/image/nike-logo.png"
          alt=""
        />
      </div>
      <div class="mx-auto">
        <ul class="flex gap-7">
          <li><a class="cursor-pointer hover:underline">Mens</a></li>
          <li><a class="cursor-pointer hover:underline">Womens</a></li>
          <li><a class="cursor-pointer hover:underline">Kids</a></li>
        </ul>
      </div>
      <ng-container *ngIf="(userName$ | async) != ''; else login">
        <div>
          <ul class="flex items-center gap-5">
            <li class="cursor-pointer" (click)="userInfoModal()">
              {{ userName$ | async }}
            </li>
            <li>
              <i class="fa-solid fa-cart-shopping text-white text-3xl"></i>
            </li>
          </ul>
        </div>
      </ng-container>

      <ng-template #login>
        <div class="flex gap-10">
          <button (click)="toggleLogin()" class="hover:underline uppercase">
            Login
          </button>
          <button class="hover:underline uppercase">Signup</button>
        </div>
      </ng-template>
    </div>
    <div class="lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-7 h-7 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"
        />
      </svg>
    </div>
  </nav>
</header>

<!-- Login Component -->
<div *ngIf="loginModal$ | async">
  <app-user-login></app-user-login>
</div>

<!-- User Info Component -->
<div *ngIf="userInfoModal$ | async">
  <app-user-info></app-user-info>
</div>

<app-cart></app-cart>
