<header class="bg-inherit">
  <nav class="p-4 w-fullfixed">
    <div
      class="hidden lg:flex lg:items-center lg:text-xl font-medium uppercase"
    >
      <div class="w-20">
        <img
          class="w-full"
          src="../../../../assets/image/nike-logo.png"
          alt=""
        />
      </div>
      <div class="mx-auto">
        <ul class="flex gap-7">
          <li><a class="cursor-pointer hover:underline">Mens</a></li>
          <li><a class="cursor-pointer hover:underline">Womens</a></li>
          <li><a class="cursor-pointer hover:underline">Kids</a></li>
        </ul>
      </div>
      <div class="flex gap-10">
        <button class="hover:underline uppercase">Login</button>
        <button class="hover:underline uppercase">Signup</button>
      </div>
    </div>
    <div class="lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-7 h-7 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"
        />
      </svg>
    </div>
  </nav>
</header>
