<ng-container *ngIf="vm$ | async as prodData">
  <div class="relative duration-700 z-50">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-50 overflow-y-auto">
      <div
        class="flex lg:items-end items-center justify-center lg:p-4 p-1 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        >
          <div class="bg-white p-2">
            <div class="flex justify-end p-2">
              <i
                (click)="closeProductModal()"
                class="fa-sharp fa-solid fa-xmark opacity-70 text-4xl cursor-pointer"
              ></i>
            </div>
            <div class="flex items-center p-3"></div>
            <hr class="mb-2" />
            <h2
              class="text-center text-2xl lg:text-4xl text-black text-opacity-80 font-semibold"
            >
              {{ prodData.productDetail.productName }}
            </h2>
            <div class="flex justify-center items-center mb-2">
              <img
                class="lg:max-w-[250px] max-w-[300px]"
                src="{{ primaryImage }}"
                alt=""
              />
            </div>
            <swiper class="mb-2 p-2" #swiper [config]="config">
              <ng-template
                *ngFor="let img of prodData.productDetail.image"
                class="flex items-center justify-center"
                swiperSlide
              >
                <div
                  (click)="selectProd(img.imageLink)"
                  class="bg-white rounded cursor-pointer p-1"
                >
                  <img
                    class="w-full hover:scale-125 ease-in-out duration-300"
                    src="{{ img.imageLink }}"
                    alt=""
                  />
                </div>
              </ng-template>
            </swiper>
            <div class="p-2 flex flex-col gap-2">
              <span
                class="text-gray-900 text-2xl text-opacity-90 font-semibold"
              >
                $ {{ prodData.productDetail.productDetails[0].price }}
              </span>
              <select
                [(ngModel)]="productToCart.size"
                class="block w-1/4 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                <option disabled selected hidden>
                  {{ productToCart.size }}
                </option>
                <option
                  *ngFor="let data of prodData.productDetail.productDetails"
                >
                  {{ data.size }}
                </option>
              </select>
              <div class="p-1 flex items-center gap-2">
                <button
                  [disabled]="productToCart.quantity <= 0"
                  ngClass="{{
                    productToCart.quantity <= 0
                      ? 'text-gray-400 hover:cursor-not-allowed'
                      : 'text-black'
                  }}"
                  (click)="minusQuantity()"
                >
                  <i class="fa-solid fa-minus text-2xl"></i>
                </button>
                <input
                  [(ngModel)]="productToCart.quantity"
                  class="shadow-sm appearance-none border text-center rounded w-10 p-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  type="number"
                  (keyup)="onChange($event)"
                />
                <button (click)="addQuantity()">
                  <i class="fa-solid fa-plus text-2xl"></i>
                </button>
              </div>
            </div>
            <div class="p-2">
              <button
                [disabled]="productToCart.quantity <= 0"
                (click)="addToCart(prodData.productDetail, productToCart)"
                ngClass="{{
                  productToCart.quantity <= 0
                    ? 'bg-gray-500 w-full hover:bg-gray-500 hover:cursor-not-allowed text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'
                    : 'bg-blue-500 w-full hover:bg-blue-700 hover:cursor-pointer text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'
                }}"
              >
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="addToCart$ | async"></ng-container>
