<section class="bg-gradient-to-tr from-stone-500 via-sky-400 to-white h-screen">
  <app-topbar></app-topbar>
  <div class="w-full flex">
    <div class="lg:w-6/12 flex items-center justify-center">
      <img class="" src="../../../../../assets/image/running-man2.png" alt="" />
    </div>
    <div class="lg:w-6/12 bg-white bg-opacity-10 shadow rounded">
      <div class="flex items-center justify-center">
        <img src="../../../../../assets/image/Nike Winflo 8-1.png" alt="" />
      </div>
    </div>
  </div>
</section>
